
    <td>{{name}}</td>
    <td>{{appearances}}</td>
    <td>{{points}}</td>
    <td>{{pointsPerGame}}</td>
    <td>{{hits}}</td>            
    <td>{{hitsPerGame}}</td>
    <td>{{moneyWon}}</td>
    <td>{{moneyWonPerGame}}</td>
    <td>{{inTheMoney}}</td>
    <td>{{inTheMoneyPercentage}}</td>
