
    <td>{{name}}</td>
    <td>{{appearances}}</td>
    <td>{{points}}</td>
    <td class="per-game">{{pointsPerGame}}</td>
    <td>{{hits}}</td>            
    <td class="per-game">{{hitsPerGame}}</td>
    <td>{{moneyWon}}</td>
    <td class="per-game">{{moneyWonPerGame}}</td>
    <td>{{inTheMoney}}</td>
    <td class="per-game">{{inTheMoneyPercentage}}</td>
